*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
tmp/*
ext/rs-232/*.o
ext/rs-232/*.bundle

/.idea
*.iml

lib/*.bundle
lib/*.so
lib/*.dll
lib/*.jar

.settings
.settings/

.project
.cproject
atlassian-ide-plugin.xml
rspec.xml
